<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <style>
      html, body{
        height: 100%;
        overflow: hidden;
      }
      .wrap{
        height:80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      } 
      h1, h2{
        text-align: center;
      }
      .form-group{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .form-control-file{
        margin-left: 10%;
        padding: 1rem;
      }
      .navbar{
        display: flex;
        align-items: center;
      }
      span{
        font-weight: bold;
      }
    </style>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand mb-0 h1" style="font-size:large" href="/"><span>MediaShare</span></a>
        <a style=" margin-left:auto" href="/auth/login"><button class="btn" type="button" style="font-size: medium;"><span>Login</span> </button></a>
    </nav>    
  </div>

  <div class="wrap">
    <div class="container">
        <h1>Welcome to MediaShare!</h1>
        <h2>Upload a file to get started...</h2>
        <form method="POST" action="/upload" enctype="multipart/form-data" >
            <div class="form-group">
              <input type="file" class="form-control-file" name='video-file' accept="video/*" id="fileInput" />
              <button type="submit" value="upload" class="btn btn-primary mb-2">Start</button> 
            </div>
          </form>
    </div>    
  </div>

</body>
</html>