<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Private room</title>
    <script>
      const roomId = '<%=roomId%>'
    </script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src='/script.js' defer></script>
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <div class="wrap">  
      <div class="container video-player ">
        <video id="video-player" width="650" controls autoplay>
          <source src='/stream/<%=fileName%>' type="video/mp4" />
        </video>
      </div>      
      <div class="container video-grid ">
        <div id="video-grid">

        </div>
      </div>      
      <div class="container chat-box">
        <div id="chat-box">
          
        </div>
        <div id="chat-form">
          <form id="message-form">
            <input type="text" 
            name="message" 
            placeholder="Enter message" 
            id="message"> 
            <button type="submit" class="submit">Send</button>
          </form>
        </div>
      </div>      
    </div>


  </body>
</html>